[submodule "vendor/solarized"]
	path = vendor/solarized
	url = git@github.com:aksarkar/emacs-color-theme-solarized.git
[submodule "vendor/ox-ipynb"]
	path = vendor/ox-ipynb
	url = git@github.com:jkitchin/ox-ipynb.git
